{% extends "base.html" %}
{% block content %}

<section class="container my-5">

    <h2 class="text-center fw-bold text-secondary mb-4">
           Voices of Our Happy Customers!
    </h2>

    <div class="row">

        <!-- Review Form -->
        <div class="col-lg-5 mb-4">
            <div class="card p-4 shadow-sm">
                    <h5 class="fw-bold mb-3 text-secondary">
            Share Your Experience
        </h5>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Your Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Rating</label>

                        <div class="star-rating">
                            <input type="radio" name="rating" value="5" id="5"><label for="5">★</label>
                            <input type="radio" name="rating" value="4" id="4"><label for="4">★</label>
                            <input type="radio" name="rating" value="3" id="3"><label for="3">★</label>
                            <input type="radio" name="rating" value="2" id="2"><label for="2">★</label>
                            <input type="radio" name="rating" value="1" id="1" required><label for="1">★</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Review</label>
                        <textarea name="comment" class="form-control" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Submit Review
                    </button>

                </form>

            </div>
        </div>

        <!-- Reviews List -->
        <div class="col-lg-7">

            {% for review in reviews %}
            <div class="card p-3 mb-3 shadow-sm">

                <h6 class="fw-bold">{{ review.name }}</h6>

                <div class="text-warning mb-2">
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= review.rating %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="text-muted mb-0">
                    {{ review.comment }}
                </p>

            </div>
            {% empty %}
            <p>No reviews yet.</p>
            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}